main {
    width: 100%;
    min-height: 100vh;
    /* altura da janela*/
    background-color: #9F9F9F;
    display: flex;
    align-items: center;
    justify-content: center;
    /* alinha no sentido ao contrario dp flex*/
}

main>div {
    background-color: #585858;
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

#formulario{
    height: 300px;
}


#formulario {
    width: 100%;
    max-width: 340px;
    height: 300px;
    background-color: #FFFFFF;
}

#secao-cadastro {
    width: 100%;
    max-width: 140px;
    height: 100px;
    background-color: black;
    color: black;
}

.estilo-formulario {
    border: var(--borda);
    width: 100%;
    max-width: 340px;
    background-color: var(--cor-branca);

}


.informacao-aplicativo {
    background-color: antiquewhite;
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    font-weight: 400;
}

#secao-instalacao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#secao-instalacao img {
    width: 120px;
    height: 40px;
}