main {
  flex-direction: column;
  min-height: 100vh;
}

#perfil__informacoes,
#perfil__publicacoes {
  width: 100%;
  max-width: 930px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#perfil__informacoes>div:nth-child(1) {
  padding-top: 20px;
  /* width: 100%; */
  /* height: 120px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 90px;
  justify-content: center;
}

/* FOTO DE PERFIL */
#perfil__informacoes>div:nth-child(1)>img {
  width: 110px;
  height: 110px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* INFORMAÇÕES DO USUÁRIO */
#perfil__informacoes>div:nth-child(1)>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* gap: 25px; */
  height: 100%;
}

.perfil__nome {
  font-size: 20px;
  /* font-weight: 500; */
  color: var(--cor-preto);
}

#perfil__informacoes>div:nth-child(1)>div>div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--cor-preto);
  font-size: 14px;
}

.perfil__acoes>span {
  font-weight: 700;
}

.perfil__acoes,
.perfil__acoes>nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.perfil__acoes>nav>a {
  color: var(--cor-azul);
  text-decoration: none;
  font-weight: 600;
}

hr{
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.cabecalho__alinhamento{
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.card-publi{
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-publi button{
  background-color: transparent;
  border: none;
}

.interacoes-publicacao{
  width: 90px;
}

.interacoes-publicacao span{
  display: flex;
  width: 100%;

}

.card-publi header a{
  display: flex;
  align-items: center;
  gap: 10px;
}